In [1]:
from bronze_layer import BronzeLayer
from silver_layer import SilverLayer
from authenticate import authenticate_garmin
import datetime as dt

In [2]:
GARMIN_USERNAME='uzer-mughal@hotmail.co.uk'
GARMIN_PASSWORD='Alhamdolila123!'
start_date = dt.date(2025, 5, 1)
end_date = dt.date(2025, 5, 30)


garmin = authenticate_garmin(GARMIN_USERNAME, GARMIN_PASSWORD)

Successfully logged in to Garmin Connect.

In [3]:
garmin_bronze = BronzeLayer(garmin, start_date, end_date)

In [4]:
garmin_bronze_df = garmin_bronze.run()

[Bronze] Retrieved 28 activities.
[Bronze] Created DataFrame with shape: (28, 103)

In [5]:
garmin_bronze_df

,activityId,activityName,startTimeLocal,startTimeGMT,activityType,eventType,distance,duration,elapsedDuration,movingDuration,...,maxTemperature,avgGradeAdjustedSpeed,fastestSplit_1000,fastestSplit_1609,powerTimeInZone_1,powerTimeInZone_2,powerTimeInZone_3,powerTimeInZone_4,powerTimeInZone_5,fastestSplit_5000
0,19282789832,Strength,2025-05-30 19:36:56,2025-05-30 18:36:56,"{'typeId': 13, 'typeKey': 'strength_training',...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",0.000000,1900.754028,1900.754028,566.643005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19273795293,Hammersmith and Fulham Soccer/Football,2025-05-29 19:30:42,2025-05-29 18:30:42,"{'typeId': 215, 'typeKey': 'soccer', 'parentTy...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",2249.689941,1468.730957,5267.933105,1253.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19253569698,Strength,2025-05-27 20:18:20,2025-05-27 19:18:20,"{'typeId': 13, 'typeKey': 'strength_training',...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",0.000000,1897.788940,1897.788940,654.346985,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19240173006,Mole Valley Hiking,2025-05-26 10:39:42,2025-05-26 09:39:42,"{'typeId': 3, 'typeKey': 'hiking', 'parentType...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",8465.120117,12105.748047,12107.141602,6582.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,19234727815,Kingston upon Thames Soccer/Football,2025-05-25 21:09:23,2025-05-25 20:09:23,"{'typeId': 215, 'typeKey': 'soccer', 'parentTy...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",3544.360107,2825.577881,3144.783936,2395.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,19223851328,Strength,2025-05-24 18:54:43,2025-05-24 17:54:43,"{'typeId': 13, 'typeKey': 'strength_training',...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",0.000000,2512.367920,2512.367920,640.497986,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,19214896461,Wandsworth Soccer/Football,2025-05-23 20:40:14,2025-05-23 19:40:14,"{'typeId': 215, 'typeKey': 'soccer', 'parentTy...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",1672.709961,2500.144043,6439.601074,1160.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,19205903882,Strength,2025-05-22 19:59:03,2025-05-22 18:59:03,"{'typeId': 13, 'typeKey': 'strength_training',...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",0.000000,3186.967041,3186.967041,963.093018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,19195595346,Lambeth - Recovery,2025-05-21 19:22:45,2025-05-21 18:22:45,"{'typeId': 1, 'typeKey': 'running', 'parentTyp...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",4141.830078,1457.386963,1507.817017,1447.000000,...,26.0,2.872,332.557007,543.335999,888.917,427.013,64.995,22.998,4.002,NaN
9,19185707891,Strength,2025-05-20 19:02:51,2025-05-20 18:02:51,"{'typeId': 13, 'typeKey': 'strength_training',...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",0.000000,2773.247070,2773.247070,616.070007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,19174991519,Wandsworth Soccer/Football,2025-05-19 18:57:35,2025-05-19 17:57:35,"{'typeId': 215, 'typeKey': 'soccer', 'parentTy...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",3640.780029,3986.822998,4519.223145,2628.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,19173982428,Wandsworth Running,2025-05-19 18:33:48,2025-05-19 17:33:48,"{'typeId': 1, 'typeKey': 'running', 'parentTyp...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",663.210022,545.736023,545.736023,393.000000,...,26.0,1.253,NaN,NaN,14.000,15.002,9.999,8.001,13.996,NaN
12,19155137265,Strength,2025-05-17 18:57:45,2025-05-17 17:57:45,"{'typeId': 13, 'typeKey': 'strength_training',...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",0.000000,2436.992920,2436.992920,613.898010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,19145961928,Wandsworth Soccer/Football,2025-05-16 20:23:45,2025-05-16 19:23:45,"{'typeId': 215, 'typeKey': 'soccer', 'parentTy...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",649.320007,1701.457031,5018.647949,301.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,19134937267,Lambeth Running,2025-05-15 17:55:30,2025-05-15 16:55:30,"{'typeId': 1, 'typeKey': 'running', 'parentTyp...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",6010.180176,1812.771973,1817.454956,1806.158997,...,26.0,3.328,271.108002,444.407990,164.980,584.602,570.968,412.095,52.996,1461.875977
15,19127604300,Kingston upon Thames Soccer/Football,2025-05-14 22:14:32,2025-05-14 21:14:32,"{'typeId': 215, 'typeKey': 'soccer', 'parentTy...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",4282.770020,3205.116943,3559.962891,2822.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,19114674621,Strength,2025-05-13 18:35:58,2025-05-13 17:35:58,"{'typeId': 13, 'typeKey': 'strength_training',...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",0.000000,1946.343018,1946.343018,401.763000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,19105380969,Strength,2025-05-12 21:25:57,2025-05-12 20:25:57,"{'typeId': 13, 'typeKey': 'strength_training',...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",0.000000,2086.899902,2086.899902,544.950989,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19096014076,Strength,2025-05-11 20:04:48,2025-05-11 19:04:48,"{'typeId': 13, 'typeKey': 'strength_training',...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",0.000000,1880.828003,1880.828003,490.278015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19074670201,Strength,2025-05-09 19:51:24,2025-05-09 18:51:24,"{'typeId': 13, 'typeKey': 'strength_training',...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",0.000000,1530.828003,1530.828003,344.789001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,19066411195,Kingston upon Thames Soccer/Football,2025-05-08 22:11:20,2025-05-08 21:11:20,"{'typeId': 215, 'typeKey': 'soccer', 'parentTy...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",3192.389893,2446.777100,2796.174072,2067.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,19055930753,Mixed Martial Arts,2025-05-07 20:22:34,2025-05-07 19:22:34,"{'typeId': 248, 'typeKey': 'mixed_martial_arts...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",0.000000,2601.010010,2601.010010,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,19044277229,Lambeth Running,2025-05-06 18:43:57,2025-05-06 17:43:57,"{'typeId': 1, 'typeKey': 'running', 'parentTyp...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",3089.310059,843.310974,907.752991,841.474007,...,26.0,3.681,263.102997,425.513000,0.000,4.000,214.001,495.973,89.002,NaN
23,19034887442,Strength,2025-05-05 19:12:07,2025-05-05 18:12:07,"{'typeId': 13, 'typeKey': 'strength_training',...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",0.000000,1913.151001,1913.151001,515.875000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,19026697123,Kingston upon Thames Soccer/Football,2025-05-04 21:05:31,2025-05-04 20:05:31,"{'typeId': 215, 'typeKey': 'soccer', 'parentTy...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",4069.649902,3250.258057,3284.897949,2783.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,19012460332,Strength,2025-05-03 13:01:54,2025-05-03 12:01:54,"{'typeId': 13, 'typeKey': 'strength_training',...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",0.000000,3516.479004,3516.479004,756.632019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,19006625802,Kingston upon Thames Soccer/Football,2025-05-02 22:04:27,2025-05-02 21:04:27,"{'typeId': 215, 'typeKey': 'soccer', 'parentTy...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",3929.199951,3545.980957,3545.980957,2688.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,18996895409,Cricket,2025-05-01 21:07:51,2025-05-01 20:07:51,"{'typeId': 207, 'typeKey': 'cricket', 'parentT...","{'typeId': 9, 'typeKey': 'uncategorized', 'sor...",156.100006,4229.798828,4231.376953,149.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
silver_layer = SilverLayer(garmin_bronze_df)
silver_layer_df = silver_layer.run()

[Silver] Created silver DataFrame with shape: (28, 25)

In [7]:
silver_layer_df.head()

,activityId,activityName,aerobicTrainingEffect,aerobicTrainingEffectMessage,anaerobicTrainingEffect,averageHR,averageRunningCadenceInStepsPerMinute,averageSpeed,beginTimestamp,bmrCalories,...,hrTimeInZone_2,hrTimeInZone_3,hrTimeInZone_4,hrTimeInZone_5,maxHR,maxSpeed,moderateIntensityMinutes,movingDuration,startTimeGMT,steps
0,19282789832,Strength,0.3,NO_AEROBIC_BENEFIT_18,0.0,95.0,NaN,0.000,1748630216000,47.0,...,34.004,0.000,0.000,0.0,125.0,NaN,19,566.643005,2025-05-30 18:36:56,254
1,19273795293,Hammersmith and Fulham Soccer/Football,3.2,IMPROVING_AEROBIC_BASE_8,3.1,145.0,45.187500,1.532,1748543442000,36.0,...,339.580,510.201,446.974,17.0,187.0,6.112,2,1253.000000,2025-05-29 18:30:42,2282
2,19253569698,Strength,0.3,NO_AEROBIC_BENEFIT_18,0.0,96.0,NaN,0.000,1748373500000,46.0,...,109.871,0.000,0.000,0.0,135.0,NaN,16,654.346985,2025-05-27 19:18:20,228
3,19240173006,Mole Valley Hiking,1.3,MINOR_AEROBIC_BENEFIT_0,0.6,93.0,47.187500,0.699,1748252382000,296.0,...,1182.994,107.995,0.000,0.0,147.0,4.964,51,6582.000000,2025-05-26 09:39:42,11486
4,19234727815,Kingston upon Thames Soccer/Football,1.2,RECOVERY_5,1.3,102.0,40.671875,1.254,1748203763000,69.0,...,375.746,92.008,8.998,0.0,159.0,5.477,27,2395.000000,2025-05-25 20:09:23,4234

In [8]:
from db_models import DBModels

In [9]:
db_models = DBModels(db_path='garmin_data.db')

In [10]:
dir(db_models)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__firstlineno__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'conn',
 'cursor',
 'db_path',
 'map_dtype_to_sqlite',
 'upload_dataframe_to_sqlite']

In [13]:
db_models = DBModels(db_path='garmin_data.db')
_ = db_models.upload_dataframe_to_sqlite('activities_data', silver_layer_df)
print(result)

TEXT